.buttons {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5rem;
  z-index: 4;
}
.bigFont {
  font-size: 1.2rem;
}
.cursor:hover {
  cursor: pointer;
}
.flexGrow {
  flex-grow: 1;
}
.fontWeight {
  font-weight: 900;
}
.stickyBottom {
  position: fixed;
  bottom: 0;
  background-color: var(--mantine-color-dark-8);
}
